<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Translate UI</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <form action="/" method="POST"><div class="translate-container">
        <div class="language-selection">
            <select id="input-language">
                <option value="en">English</option>
                <option value="em">Emogi</option>
            </select>
            <button id="swap-languages">⇄</button>
            <select id="output-language">
                <option value="em">Emogi</option>
                <option value="en">English</option>
            </select>
        </div>

        <div class="translate-box">
            <textarea id='input' name="input-text" placeholder="Enter text">{{  input }}</textarea>
            <textarea id='output' name="output-text" placeholder="Translation" readonly>{{ result  }}</textarea>
        </div>

        <div class="action-buttons">
            <button type="submit" name="action" value="translate" id="translate_button">Translate</button>
            <button type="submit" name="action" value="clear" id="clear_button">Clear</button>
            <button type="button" id="copy_button">Copy</button>
            <script>
                const output=document.getElementById('output')
                const copy_button=document.getElementById('copy_button')
                copy_button.onclick= function (){
                    output.select();
                    document.execCommand('Copy')
                }
            </script>
        </div></form>
    </div>

    <script src="script.js"></script>
</body>
</html>
