<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Translate UI</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="translate-container">
        <div class="language-selection">
            <select id="input-language">
                <option value="en">English</option>
                <option value="em">Emogi</option>
            </select>
            <button id="swap-languages">⇄</button>
            <select id="output-language">
                <option value="em">Emogi</option>
                <option value="en">English</option>
            </select>
        </div>

        <form action="/" method="POST"><div class="translate-box">
            <textarea name="input-text" placeholder="Enter text">{{  input  }}</textarea>
            <textarea name="output-text" placeholder="Translation" readonly>{{ result  }}</textarea>
        </div>

        <div class="action-buttons">
            <button type=submit id="translate-button">Translate</button>
            <button id="clear-button">Clear</button>
            <button id="copy-button">Copy</button>
        </div></form>
    </div>

    <script src="script.js"></script>
</body>
</html>
